[submodule "seastar"]
	path = seastar
	url = ../seastar
	ignore = dirty
[submodule "swagger-ui"]
	path = swagger-ui
	url = ../../scylladb/scylla-swagger-ui
	ignore = dirty
[submodule "abseil"]
	path = abseil
	url = ../../scylladb/abseil-cpp
[submodule "scylla-python3"]
	path = tools/python3
	url = ../../scylladb/scylla-python3
[submodule "tools/cqlsh"]
	path = tools/cqlsh
	url = ../../scylladb/scylla-cqlsh
